<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="alphasec">
    <meta name="description" content="Webhook Client">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webhook Client</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <form class="form-submit">
            <h3 class="form-submit-heading">Webhook Client</h3>
            <input type="text" class="form-control" name="webhook_url" placeholder="Webhook URL" required="" autofocus="" />
            <input type="text" class="form-control" name="payload" placeholder="Payload" required=""/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
